body {
  padding: 0rem;
  margin: 0rem;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin: 0rem;
}

.Page {
  color: #333 !important;
}

.Control {
  fill: #333 !important;
}